.marketplace-container {
  padding: 20px;
  text-align: left;
}

.product-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.product-card {
  position: relative; /* Set the card to relative to position the favorite button inside it */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s;
  overflow: hidden;
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 200px; /* Limit the height to avoid large images */
  object-fit: cover; /* Ensures the image scales properly without distorting */
  border-radius: 8px;
  margin-bottom: 15px; /* Adds some space between the image and text */
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.product-category,
.product-brand,
.product-price {
  font-size: 1em;
  margin: 5px 0;
}

.add-product-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
}

.add-product-btn:hover {
  background-color: #218838;
}

.no-products {
  color: #6c757d;
  font-size: 1.2em;
  font-style: italic;
}

.plus-icon {
  font-size: 1.4em;
  margin-right: 10px;
}

/* Favorite Button */
.favorite-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Position the button 10px from the bottom */
  right: 10px; /* Position the button 10px from the right */
  padding: 5px;
}

.favorite-icon {
  width: 24px;
  height: 24px;
}

.favorite-icon.favorited {
  fill: red; /* Change color or use a different icon when favorited */
}
/* Cart Button */
.cart-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 50px; /* Adjust to space out from favorite button */
  padding: 5px;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

.cart-icon.in-cart {
  fill: green; /* Change color or icon when the product is in the cart */
}