/* Center the layout and set the width */
.event {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  background-color: #f9f9f9; /* Optional: Add a background for visibility */
  padding: 1.5rem; /* Add some padding */
  border-radius: 8px; /* Optional: Round the corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.eventtitle {
  text-align: center;
  padding-bottom: 2%;
}

.eventbtn {
  align-self: center;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #77ffbb !important;
  border: 2px solid black !important;
  color: black !important;
  padding: 0.75rem 4rem !important;
  width: 100% !important;
}
.eventpage {
  align-items: center;
  justify-content: center;
  padding-right: 33.33%; /* Add some padding */
  padding-left: 33.33%; /* Add some padding */
  padding-bottom: 3.5%;
}
